/*
0. Mixins
1. variables
2. Typography
3. Layout
4. Forms
*/
/*//////////////////////////////////////////////
* 0. variables */
/*//////////////////////////////////////////////
* 1. variables */
/*
* Colors
*/
/*//////////////////////////////////////////////
* 2. General */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
*,
*:after,
*:before,
code,
cite,
kbd {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

html {
  margin-top: 0 !important;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: subpixel-antialiased; }

@-ms-viewport {
  width: device-width; }
[tabindex="-1"]:focus {
  outline: none !important; }

body {
  font-family: "raleway", sans-serif, arial;
  color: #414d61;
  font-size: 14px;
  background: #f1f1f1;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
  min-height: 100%;
  padding: 0;
  word-wrap: break-word; }

div {
  border-color: #7b8ba7 !important; }

img {
  max-width: 100%;
  height: auto; }

iframe {
  border: none;
  max-width: 100% !important; }

hr {
  clear: both;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top: 1px solid; }

/*//////////////////////////////////////////////
* 3. Typography */
input,
select {
  vertical-align: middle; }

.wrapper {
  width: 92.72727272727273%;
  margin: 0 auto; }

/*  Main  */
.main {
  width: 100%;
  height: 100%;
  padding-left: 300px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative; }

/*  Home/portfolio  */
.main .work .caption {
  background: #ffffff;
  opacity: 0; }

.main .work a:hover .caption {
  opacity: 1; }

.work .caption .work_title {
  display: block;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  margin-top: -40px; }

.main .work .caption h1 {
  position: relative;
  display: inline-block;
  max-width: 90%;
  padding: 20px 0;
  z-index: 77;
  font-size: 16px;
  letter-spacing: .5px;
  border-bottom: 1px solid #bfbbbb;
  border-top: 1px solid #bfbbbb; }

/*  Inner Page  */
.top {
  width: 100%;
  height: 350px;
  overflow: hidden;
  display: block;
  position: relative;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 50% 50%; }

.main .top > .title {
  background: none;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  font-weight: 400;
  letter-spacing: 5px;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 2em !important;
  font-size: 3em;
  font-family: inherit;
  text-shadow: 4px 3px 0 rgba(255, 255, 255, 0.3), -19px -19px 0 rgba(155, 155, 155, 0.2), 19px 19px 0 rgba(155, 155, 155, 0.15); }

.top .title {
  display: block;
  width: 100%;
  font-size: 26px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  text-transform: uppercase;
  line-height: 30px;
  margin: 0 !important;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.content {
  line-height: 22px;
  padding: 60px;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/*  Contact page map  */
/*  Tooltip  */
.tooltip {
  display: block;
  padding: 7px 10px;
  background: #414d61;
  color: #fff;
  font-size: 12px;
  position: absolute;
  white-space: nowrap;
  z-index: 999;
  opacity: 0;
  text-align: center;
  letter-spacing: .5px; }

.tooltip:after {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: #414d61 transparent transparent transparent;
  display: block;
  text-align: center;
  position: absolute;
  bottom: -3px;
  left: 50%;
  margin-left: -3px; }

/*//////////////////////////////////////////////
* 4. Typography */
/*  Fonts  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  letter-spacing: 1.5px; }

a {
  margin: 0;
  padding: 0;
  color: #414d61;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  font-weight: 700;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }
  a:hover {
    color: #7b8ba7; }

content p {
  line-height: 24px;
  margin-bottom: 60px; }

header .rights p {
  display: inline-block;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 5px; }

b,
strong {
  font-weight: 600; }

ul {
  list-style-type: square; }

.widget-area ul {
  list-style-type: none; }

ol {
  list-style-type: decimal; }

ul, ol {
  list-style-position: inside;
  padding-left: 1em;
  margin-top: 0;
  margin-bottom: 10px; }
  ul li, ol li {
    line-height: 1.5em; }

p {
  margin: 1em 0 2em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "raleway", sans-serif, arial;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 1px; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.75em 0; }

h3 {
  font-size: 1.17em;
  margin: 0.83em 0; }

h5 {
  font-size: .83em;
  margin: 1.5em 0; }

h6 {
  font-size: .75em;
  margin: 1.67em 0; }

ins {
  background-color: #414d61;
  color: #fff;
  border-bottom: 1px dotted;
  font-size: .8em;
  padding: .2em;
  margin: .2em; }

mark {
  background-color: #ff9;
  color: black;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

small, sub, s {
  font-size: smaller; }

sub {
  vertical-align: sub; }

s {
  font-weight: bold; }

sup {
  vertical-align: super;
  font-size: smaller; }

em, cite {
  font-style: italic;
  font-weight: 600;
  font-size: .9em; }

abbr[title],
dfn[title],
acronym {
  letter-spacing: 4px;
  text-decoration: none;
  border-bottom: 4px dotted; }

abbr[title],
dfn[title] {
  cursor: help; }

.entry-content a {
  border-bottom: 1px dashed; }
  .entry-content a:hover {
    border-bottom: 1px solid;
    transition: ease-out;
    text-decoration: none; }

code, samp, kbd {
  background: #414d61;
  color: #fff; }

code, samp, kbd, pre, tt, var {
  line-height: 2em;
  padding: .15em 1em;
  font-size: .8em;
  font-family: Pragmata, Menlo, 'DejaVu LGC Sans Mono', 'DejaVu Sans Mono', Consolas, 'Everson Mono', 'Lucida Console', 'Andale Mono', 'Nimbus Mono L', 'Liberation Mono', FreeMono, 'Osaka Monospaced', Courier, 'New Courier', monospace, sans-serif;
  text-align: left;
  display: inline-block;
  margin-top: 1em; }

pre {
  color: #414d61;
  background: #fff;
  padding: 0.1em 0.5em 0.3em 0.7em;
  border: 1px solid;
  border-top: 10px solid;
  margin: 1.7em 0 1.7em 0.3em;
  overflow: auto;
  width: 100%;
  white-space: pre-wrap; }
  pre code {
    line-height: 1.6em;
    font-size: 11px; }

/* target IE7 and IE6 */
*:first-child + html pre {
  padding-bottom: 2em;
  overflow-y: hidden;
  overflow: visible;
  overflow-x: auto; }

* html pre {
  padding-bottom: 2em;
  overflow: visible;
  overflow-x: auto; }

dl {
  position: relative;
  display: block;
  padding: 20px;
  font-size: 12px;
  line-height: 1.2;
  color: #414d61;
  border: solid 1px;
  background: url("../images/square-bg.png");
  background-color: #fff;
  margin: 3em; }
  dl:before {
    font-family: 'Glyphicons Halflings';
    content: "\e043";
    background-color: #fff;
    border: solid 1px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    font-size: 3em;
    font-weight: bold;
    color: #414d61;
    text-align: center;
    line-height: 75px;
    position: absolute;
    left: -30px;
    top: -30px; }
  dl dt:first-child {
    margin-top: 3em; }

dt {
  font-weight: bold;
  font-size: 1.1em; }

dd {
  margin: .5em;
  padding: 0 0 0.5em 0; }

/*
dl{  border-bottom: 1px solid #ddd;background-color:#fff;}
dt {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee; 
  cursor: pointer;
  transition:all .4s ease;
}
dt:hover{background-color:#f9f9f9;}
dt.expand{background-color:#eee;}
dt.expand:before{content:"-";color:#777;border-right: 1px solid #f8f8f8;}

dt:before {
  content: "+";
  display: inline-block;
  margin-right:10px;
  padding:8px 0 0 0;
  width:38px;
  height:30px;
  text-align:center;
  color:#ccc;
  font-size: 18px;
  border-right: 1px solid #eee;
  position: relative;
}

dd {
  padding:0 25px;
  background: #f8f8f8;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  margin: 0;
  height:auto;
  overflow:hidden;
  position: relative;
  max-height:0;
  transition:all .4s ease;
}
dd.expand{ max-height:200px;  padding:10px 25px;}
 */
blockquote {
  position: relative;
  display: block;
  padding: 20px;
  font-size: 14px;
  line-height: 1.2;
  color: #414d61;
  border: solid 1px;
  background: url("../images/square-bg.png");
  background-color: #fff;
  margin: 3em; }
  blockquote p {
    padding: 0 3em;
    margin: 0;
    line-height: 1.8em; }
  blockquote a, blockquote a code {
    color: #ff7f50;
    text-decoration: underline; }

blockquote::before {
  content: "\201C";
  background-color: #fff;
  border: solid 1px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  font-size: 60px;
  font-weight: bold;
  color: #414d61;
  text-align: center;
  line-height: 93px;
  position: absolute;
  left: -30px;
  top: -30px; }

blockquote::after {
  content: "\201D";
  background-color: #fff;
  border: solid 1px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  font-size: 60px;
  font-weight: bold;
  color: #414d61;
  text-align: center;
  line-height: 93px;
  position: absolute;
  right: -30px;
  bottom: -30px; }

.blockquote_1 {
  display: block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #414d61;
  text-align: justify;
  /*Borders - (Optional)*/
  border-left: 15px solid #414d61;
  border-right: 2px solid #414d61;
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc; }

.blockquote_1::before {
  content: "\201C";
  /*Unicode for Left Double Quote*/
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  /*Positioning*/
  position: absolute;
  left: 10px;
  top: 5px; }

.blockquote_1 a {
  cursor: pointer;
  padding: 0 3px; }

/*//////////////////////////////////////////////
* 5. Navigation */
.main-navigation a {
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -o-transition: all 0s ease;
  /* transition: all .1s ease-out; */ }
.main-navigation a:hover {
  color: #fff;
  text-decoration: none; }
.main-navigation ul {
  padding: 20px 0;
  width: 200px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 5em 0;
  background: #fff; }
  .main-navigation ul li {
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    list-style-type: none; }
    .main-navigation ul li:hover {
      background-color: #7b8ba7; }
  .main-navigation ul ul {
    visibility: hidden;
    position: absolute;
    margin-top: -40px;
    margin-left: 185px;
    width: max-content;
    width: 100%;
    padding: 0; }
    .main-navigation ul ul ul {
      margin-top: -41px;
      margin-left: 285px; }
    .main-navigation ul ul li:after {
      padding: 0 .4em; }
    .main-navigation ul ul .page_item_has_children:hover:nth-child(1n+1):after,
    .main-navigation ul ul .menu-item-has-children:hover:nth-child(1n+1):after {
      border-top: 0;
      margin-top: 0; }
  .main-navigation ul .page_item_has_children:hover:nth-child(1n+1):after,
  .main-navigation ul .menu-item-has-children:hover:nth-child(1n+1):after {
    background: #fff;
    padding: 0 .4em;
    border-top: 1px solid #414d61;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease-out; }
  .main-navigation ul .page_item_has_children:hover:nth-child(2n+1):after,
  .main-navigation ul .menu-item-has-children:hover:nth-child(2n+1):after {
    background: #fff;
    content: "\e178";
    display: hidden; }
  .main-navigation ul .page_item_has_children:nth-child(1n+1):after,
  .main-navigation ul .menu-item-has-children:nth-child(1n+1):after {
    font-family: 'Glyphicons Halflings';
    content: "\e178";
    float: right;
    height: 40px;
    animation: arrow .5s infinite ease;
    -webkit-animation: arrow .5s infinite ease;
    -moz-animation: arrow .5s infinite ease;
    -o-animation: arrow .5s infinite ease; }
.main-navigation li:hover > ul {
  visibility: visible; }

/*  Header  */
@media (min-width: 1000px) {
  header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    min-height: 100%;
    padding: 0 0 0 50px;
    background: #ffffff;
    float: left;
    z-index: 9999; }

  header .logo {
    margin-top: 100px; }

  header .footer {
    position: absolute;
    bottom: 50px; }

  #menu_icon,
  .close_menu {
    display: none; } }
#menu_icon,
.close_menu {
  float: right;
  margin-right: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url("../images/men_icons.png") no-repeat; }

#menu_icon {
  background-position: 0 0; }

.close_menu {
  background-position: -41px 0 !important; }

.current_page_item > a,
.main-navigation a:hover,
.main-navigation a:active,
.main-navigation a:focus {
  border-left: solid 5px;
  padding-left: 3px; }

.work_nav {
  display: block;
  width: 100%; }

.work_nav .btn {
  float: right; }

.work_nav ul li {
  display: block;
  float: left;
  margin: 0 0 1px 1px;
  position: relative; }

.work_nav a {
  display: block;
  width: 40px;
  height: 40px;
  background: url("../images/p_navigation.png") no-repeat;
  background-position: 0 0; }

.work_nav a.previous {
  background-position: 0 0; }

.work_nav a.grid {
  background-position: -41px 0; }

.work_nav a.next {
  background-position: -82px 0; }

@media (max-width: 1100px) {
  #menu_icon,
  .close_menu,
  .show_menu {
    display: block; }

  header #menu_icon,
  header .close_menu {
    float: right;
    margin: 30px 30px 0 0;
    clear: both; }

  header nav ul {
    display: none;
    margin-top: 35px;
    position: relative; }

  header nav ul li a {
    display: block;
    width: 100%;
    padding: 30px 0;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    border-top: 1px solid #f7f5f5;
    background: #fff; }

  header nav ul li a:active {
    background: #7b8ba7; } }
.post-navigation {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 5px; }

.post-navigation a {
  position: relative;
  font-weight: 400; }

.post-navigation span {
  font-size: 30px;
  display: inline;
  display: inline-block;
  display: -webkit-inline-box;
  display: -moz-inline-box; }

.post-navigation .screen-reader-text {
  margin-top: 50px;
  font-size: 14px;
  color: #7b8ba7;
  text-transform: uppercase;
  border-bottom: 1px solid #7b8ba7; }

.nav-previous,
.nav-next {
  position: relative;
  margin-top: 20px; }

.nav-previous a:hover,
.nav-next a:hover {
  color: #7b8ba7; }

.nav-previous {
  float: left;
  margin-left: 50px !important; }

.nav-next {
  float: right;
  margin-right: 50px !important; }

/*//////////////////////////////////////////////
* 6. Theme Social */
header ul.social {
  margin-bottom: 5px; }

header ul.social li {
  display: block;
  float: left;
  position: relative;
  margin: 0 15px 15px 0; }

header ul.social li a {
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/sm.png") no-repeat;
  background-position: 0 0; }

header ul.social li a:hover {
  background: url("../images/sm_hover.png") no-repeat; }

header ul.social li a.fb,
header ul.social li a.fb:hover {
  background-position: 0 0; }

header ul.social li a.google,
header ul.social li a.google:hover {
  background-position: -31px 0; }

header ul.social li a.behance,
header ul.social li a.behance:hover {
  background-position: -62px 0; }

header ul.social li a.twitter,
header ul.social li a.twitter:hover {
  background-position: -93px 0; }

header ul.social li a.dribble,
header ul.social li a.dribble:hover {
  background-position: -124px 0; }

header ul.social li a.rss,
header ul.social li a.rss:hover {
  background-position: -155px 0; }

/*//////////////////////////////////////////////
* 7. Layout */
/* Form fields, general styles first. */
select,
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="url"],
input[type="email"] {
  background: #fff;
  border: 1px solid #7b8ba7;
  color: #444;
  font-size: 16px;
  line-height: 1.7;
  padding: 10px 20px !important;
  max-width: 100% !important; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #444;
  font-size: 16px;
  opacity: 1; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #444;
  font-size: 16px;
  opacity: 1; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #444;
  font-size: 16px;
  opacity: 1; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #444;
  font-size: 16px;
  opacity: 1; }

textarea {
  height: auto !important;
  max-width: 100% !important;
  padding: 24px; }

legend {
  color: #1B1D1F; }

select {
  height: inherit;
  padding: 6px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  height: 39px;
  line-height: 39px;
  padding: 12px; }

input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
textarea:focus {
  background: #fffef4; }

/* Buttons */
.form-submit {
  height: 48px; }

button,
.button,
.readon,
.button-border,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  -webkit-appearance: none;
  background: transparent;
  border: 1px solid;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 16px;
  font-weight: normal;
  height: auto;
  line-height: 46px;
  margin: 0 5px 2px 2px;
  padding: 0 22px;
  text-align: center;
  text-transform: none;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }

button:hover,
button:focus,
.button:hover,
.button:focus,
.readon:hover,
.readon:focus,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
button:active,
.readon:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active,
.button.invert {
  border: 1px solid #999;
  color: #7b8ba7; }

.button-border {
  background: transparent !important;
  border: 2px solid #d27244;
  color: #d27244 !important; }

.button-border:active,
.button-border:focus,
.button-border:hover {
  background: #fff;
  border: 2px solid #000;
  color: black !important; }

.post-password-required input[type="submit"] {
  vertical-align: bottom; }

.button.full {
  background: #a8ce86;
  border-color: #a8ce86;
  color: #fff; }

.button.full:hover {
  background: #98b57e !important;
  border-color: #98b57e; }

/* Labels */
label {
  color: #414d61;
  font-size: 14px;
  font-weight: 400;
  padding: 0 6px 0 0; }

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
  color: #7d7b6d; }

:-moz-placeholder {
  color: #7d7b6d; }

::-moz-placeholder {
  color: #7d7b6d; }

:-ms-input-placeholder {
  color: #7d7b6d; }

#comments {
  clear: both;
  margin: 0;
  padding: 30px 20px 10px;
  position: relative; }

#comments p {
  margin: 1em 0 2em; }

#comments .no-password {
  margin-top: 0; }

.comment-post-author {
  background: #010101;
  border-radius: 2px;
  color: #fff;
  font-size: 11px;
  margin: 0 0 0 5px;
  padding: 2px 5px;
  position: relative;
  top: -1px; }

.comments-title,
.comment-list,
.comment-reply-title,
.must-log-in,
.comment-respond .comment-form,
.comment-respond iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.comments-title,
.comment-reply-title {
  line-height: 1.2;
  margin: 0;
  padding: 16px 0; }

.comment-list,
.comment-list .children {
  list-style-type: none;
  padding: 0; }

.comment-list .children {
  margin-left: 20px; }

.comment-list > li:after,
.comment-list .children > li:before {
  background-size: 4px 4px;
  content: "";
  display: block;
  height: 1px;
  width: 100%; }

.comment-list > li:last-child:after {
  display: none; }

.comment-body {
  font-size: 18px;
  margin: 24px 0 0;
  padding: 18px;
  position: relative; }

.comment-list > li:nth-child(even) > article {
  background: #f5f5f5; }

.comment-content p {
  line-height: 1.6;
  margin: 1em 0; }

.bypostauthor {
  line-height: inherit; }

.comment-author > img {
  display: block;
  float: left;
  margin-right: 10px;
  padding: 4px; }

.comment-author .avatar {
  display: block; }

.comment-author .fn {
  word-wrap: break-word; }

.comment-author .fn,
.comment-author .url,
.comment-reply-link,
.comment-reply-login,
.comment-list .edit-link {
  font-size: 11px;
  font-style: normal;
  font-weight: normal; }

.comment-reply-link {
  float: right; }

.says {
  display: none; }

.comment-list .edit-link {
  float: right;
  margin-left: 20px; }

.comment-author {
  position: absolute; }

.comment-content-wrapper {
  margin: 0 0 0 92px;
  padding: 10px; }

.comment-metadata {
  font-size: 14px;
  margin-bottom: 0; }

.comment-metadata > * {
  text-align: center; }

.comment-metadata > a {
  float: right; }

.comment-metadata > strong.fn {
  font-weight: 500;
  margin: 0 12px 0 0; }

.ping-meta {
  color: #a2a2a2;
  font-size: 13px;
  line-height: 2; }

.comment-awaiting-moderation:before {
  content: "\f071";
  font-family: FontAwesome;
  margin-right: 5px;
  position: relative;
  top: 1px; }

.comment-reply-link:before,
.comment-reply-login:before {
  content: "\f112";
  font-family: FontAwesome;
  margin-right: 3px; }

/* Comment form */
.comment-respond {
  border-top: 1px solid #414d61;
  padding: 30px 0 0; }

.comment .comment-respond {
  margin-bottom: 20px;
  padding: 20px 0; }

.comment-reply-title small a {
  color: #414d61;
  display: inline-block;
  float: right;
  height: 22px;
  overflow: hidden;
  width: 26px; }

.comment-reply-title small a:hover {
  text-decoration: none; }

.comment-reply-title small a:before {
  content: "\f057";
  font-family: FontAwesome;
  font-size: 20px;
  margin-right: 10px;
  vertical-align: top; }

.comment-form .comment-notes {
  color: #414d61;
  font-size: 13px;
  margin: 0 0 32px; }

.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url {
  margin: 0;
  width: 100%; }

.comment-form label {
  display: block;
  clear: both;
  padding: 12px 0 10px; }

.comment-form .required {
  color: #414d61; }

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
  width: 100%; }

.comment-form textarea {
  width: 100%; }

.form-allowed-tags,
.form-allowed-tags code {
  color: #414d61;
  font-size: 12px; }

.form-allowed-tags code {
  display: block;
  font-size: 10px;
  margin: 3px 0; }

.comment-list .pingback,
.comment-list .trackback {
  padding-top: 24px; }

.comment-navigation {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  margin: 0 auto;
  max-width: 604px;
  padding: 20px 0 30px;
  width: 100%; }

.no-comments {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  margin: 0;
  padding: 40px 0; }

/*//////////////////////////////////////////////
* 8. Layout */
/*  Responsive layout  */
.main .wp-page, .main #comments {
  padding: 7em 5em;
  background: #fff; }
.main .work {
  display: block;
  width: 33.33333333333333%;
  height: auto;
  float: left;
  position: relative;
  overflow: hidden; }
  .main .work .media {
    width: 100%;
    vertical-align: middle; }
  .main .work .caption {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.widget-area {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  border-top: 1px solid #7b8ba7;
  padding-top: 40px;
  display: table; }
  .widget-area .widget {
    clear: both;
    margin-bottom: 20px; }
  .widget-area .widget-col .widget-title {
    padding: 10px;
    text-align: center;
    margin: 0 0 15px;
    background: #7b8ba7;
    background: #7b8ba7 url(../images/square-bg.png);
    color: #fff;
    border-left: 5px #7b8ba7 solid; }
  .widget-area .widget-col .widget_search .search-field {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #7b8ba7;
    font-size: 16px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; }
  .widget-area .widget-col .widget_search .search-submit, .widget-area .widget-col .widget_search .screen-reader-text {
    display: none; }
  .widget-area .widget-col ul li {
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #7b8ba7;
    margin-bottom: 10px; }
  .widget-area .widget-col ul li:last-child {
    border-style: none; }
  .widget-area .widget-col ul li:before {
    background: #7b8ba7;
    content: "";
    font-size: 13px;
    height: 10px;
    width: 10px;
    left: -10px;
    float: left;
    position: relative;
    display: list-item;
    top: 5px; }
  .widget-area .widget-col a {
    font-weight: 600;
    color: draken(#414d61, 20%); }

.widget-title {
  font-size: 125%;
  text-transform: uppercase; }

@media (max-width: 1100px) {
  header {
    display: block;
    background: #fff;
    width: 100%;
    min-height: 100px;
    padding: 0;
    position: relative; }
    header .logo {
      margin: 40px 0 0 30px;
      display: inline-block; }
    header .footer {
      display: none; }

  .main {
    width: 100%;
    position: relative;
    padding-left: 0; }
    .main .work {
      width: 50%; } }
@media (max-width: 550px) {
  .main .work {
    width: 100%; } }
.content_header {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 50%;
  margin-left: -46.36363636363637%; }

/*# sourceMappingURL=theme.css.map */
