/*
1. Reset
2. Typography
3. Layout
4. Forms
*/
/*
* Colors
*/
/*//////////////////////////////////////////////
* 1. Reset
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*//////////////////////////////////////////////
* 2. General
*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -webkit-font-smoothing: subpixel-antialiased; }

body {
  font-family: "raleway", sans-serif, arial;
  color: #414d61;
  font-size: 1em;
  background: #c7ceda;
  color: #414d61;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
  min-height: 100%;
  padding: 0;
  word-wrap: break-word; }

a {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  letter-spacing: 1.5px; }

div {
  border-color: #c7ceda !important; }

img {
  max-width: 100%;
  height: auto; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #414d61;
  margin: 1em 0;
  padding: 0; }

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  font-weight: bold;
  margin: 100px 0 30px; }

h1 {
  font-size: 40px;
  text-transform: none; }

h2 {
  font-size: 36px;
  text-transform: none; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

.entry-content h1 {
  font-size: 36px; }

.entry-content h2 {
  font-size: 26px; }

.entry-content h3 {
  font-size: 22px; }

.entry-content h4 {
  font-size: 18px; }

.entry-content h5 {
  font-size: 16px; }

.entry-content h6 {
  font-size: 14px; }

b,
strong {
  font-weight: 600; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul li {
  line-height: 1.5; }

p {
  margin: 1em 0 2em; }

iframe {
  border: none;
  max-width: 100% !important; }

hr {
  border: none;
  clear: both;
  display: block;
  height: 1px;
  margin: 0;
  padding: 50px 0;
  position: relative; }

input,
select {
  vertical-align: middle; }

.wrapper {
  width: 92.72727272727273%;
  margin: 0 auto; }

header ul.social li a,
.main .work a .caption,
header nav ul li a {
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -o-transition: all .1s linear; }

/*  Header  */
@media (min-width: 1000px) {
  header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    min-height: 100%;
    padding: 0 0 0 50px;
    background: #ffffff;
    float: left;
    overflow: hidden;
    z-index: 9999; }

  header .logo {
    margin-top: 100px; }

  header .footer {
    position: absolute;
    bottom: 50px; }

  #menu_icon,
  .close_menu {
    display: none; } }
#menu_icon,
.close_menu {
  float: right;
  margin-right: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url("../images/men_icons.png") no-repeat; }

#menu_icon {
  background-position: 0 0; }

.close_menu {
  background-position: -41px 0 !important; }

/*  Main  */
.main {
  width: 100%;
  height: 100%;
  padding-left: 300px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative; }

/*  Home/portfolio  */
.main .work .caption {
  background: #ffffff;
  opacity: 0; }

.main .work a:hover .caption {
  opacity: 1; }

.work .caption .work_title {
  display: block;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  margin-top: -40px; }

.main .work .caption h1 {
  position: relative;
  display: inline-block;
  max-width: 90%;
  padding: 20px 0;
  z-index: 77;
  font-size: 16px;
  letter-spacing: .5px;
  border-bottom: 1px solid #bfbbbb;
  border-top: 1px solid #bfbbbb; }

/*  Inner Page  */
.top {
  width: 100%;
  height: 350px;
  overflow: hidden;
  display: block;
  position: relative;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 50% 50%; }

.top .title {
  display: block;
  width: 100%;
  font-size: 26px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  text-transform: uppercase;
  line-height: 30px;
  margin: 0 !important;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.content {
  line-height: 22px;
  padding: 60px 30px;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/*  Contact page map  */
/*  Tooltip  */
.tooltip {
  display: block;
  padding: 7px 10px;
  background: #414d61;
  color: #fff;
  font-size: 12px;
  position: absolute;
  white-space: nowrap;
  z-index: 999;
  opacity: 0;
  text-align: center;
  letter-spacing: .5px; }

.tooltip:after {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: #414d61 transparent transparent transparent;
  display: block;
  text-align: center;
  position: absolute;
  bottom: -3px;
  left: 50%;
  margin-left: -3px; }

/*//////////////////////////////////////////////
* 2. Typography
*/
/*  Fonts  */
a {
  margin: 0;
  padding: 0;
  color: #414d61;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  font-weight: 700; }

a:hover {
  color: #c7ceda; }

content p {
  line-height: 24px;
  margin-bottom: 60px; }

header .rights p {
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 5px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "raleway", sans-serif, arial;
  color: #414d61;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 30px;
  letter-spacing: 1px; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.75em 0; }

h3 {
  font-size: 1.17em;
  margin: 0.83em 0; }

h5 {
  font-size: .83em;
  margin: 1.5em 0; }

h6 {
  font-size: .75em;
  margin: 1.67em 0; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins {
  background-color: #ff9;
  color: black;
  border-bottom: 1px dotted; }

mark {
  background-color: #ff9;
  color: black;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/*//////////////////////////////////////////////
* 4. Navigation
*/
header nav ul {
  display: block;
  overflow: hidden;
  margin-top: 100px; }

header nav ul li {
  display: block;
  line-height: 30px; }

header nav ul li a {
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 1px; }

header nav ul li a:hover {
  color: #414d61;
  letter-spacing: 3px; }

.current_page_item a,
.main-navigation a:hover,
.main-navigation a:active,
.main-navigation a:focus {
  border-left: solid 5px;
  padding-left: 3px; }

.work_nav {
  display: block;
  width: 100%; }

.work_nav .btn {
  float: right; }

.work_nav ul li {
  display: block;
  float: left;
  margin: 0 0 1px 1px;
  position: relative; }

.work_nav a {
  display: block;
  width: 40px;
  height: 40px;
  background: url("../images/p_navigation.png") no-repeat;
  background-position: 0 0; }

.work_nav a.previous {
  background-position: 0 0; }

.work_nav a.grid {
  background-position: -41px 0; }

.work_nav a.next {
  background-position: -82px 0; }

@media (max-width: 1100px) {
  #menu_icon,
  .close_menu,
  .show_menu {
    display: block; }

  header #menu_icon,
  header .close_menu {
    float: right;
    margin: 30px 30px 0 0;
    clear: both; }

  header nav ul {
    display: none;
    margin-top: 35px;
    position: relative; }

  header nav ul li a {
    display: block;
    width: 100%;
    padding: 30px 0;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    border-top: 1px solid #f7f5f5;
    background: #fff; }

  header nav ul li a:active {
    background: #c7ceda; } }
.post-navigation {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 5px; }

.post-navigation a {
  position: relative;
  font-weight: 400; }

.post-navigation span {
  font-size: 30px;
  display: inline;
  display: inline-block;
  display: -webkit-inline-box;
  display: -moz-inline-box; }

.post-navigation .screen-reader-text {
  margin-top: 50px;
  font-size: 14px;
  color: #c7ceda;
  text-transform: uppercase;
  border-bottom: 1px solid #c7ceda; }

.nav-previous,
.nav-next {
  position: relative;
  margin-top: 20px; }

.nav-previous a:hover,
.nav-next a:hover {
  color: #c7ceda; }

.nav-previous {
  float: left;
  margin-left: 50px !important; }

.nav-next {
  float: right;
  margin-right: 50px !important; }

/*//////////////////////////////////////////////
* 3. Theme Social
*/
header ul.social {
  margin-bottom: 5px; }

header ul.social li {
  display: block;
  float: left;
  position: relative;
  margin: 0 15px 15px 0; }

header ul.social li a {
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/sm.png") no-repeat;
  background-position: 0 0; }

header ul.social li a:hover {
  background: url("../images/sm_hover.png") no-repeat; }

header ul.social li a.fb,
header ul.social li a.fb:hover {
  background-position: 0 0; }

header ul.social li a.google,
header ul.social li a.google:hover {
  background-position: -31px 0; }

header ul.social li a.behance,
header ul.social li a.behance:hover {
  background-position: -62px 0; }

header ul.social li a.twitter,
header ul.social li a.twitter:hover {
  background-position: -93px 0; }

header ul.social li a.dribble,
header ul.social li a.dribble:hover {
  background-position: -124px 0; }

header ul.social li a.rss,
header ul.social li a.rss:hover {
  background-position: -155px 0; }

/*//////////////////////////////////////////////
* 5. Layout
*/
/* Form fields, general styles first. */
select,
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="url"],
input[type="email"] {
  background: #fff;
  border: 1px solid #c7ceda;
  color: #444;
  font-size: 16px;
  line-height: 1.7;
  padding: 10px 20px !important;
  max-width: 100% !important; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #444;
  font-size: 16px;
  opacity: 1; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #444;
  font-size: 16px;
  opacity: 1; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #444;
  font-size: 16px;
  opacity: 1; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #444;
  font-size: 16px;
  opacity: 1; }

textarea {
  height: auto !important;
  max-width: 100% !important;
  padding: 24px; }

legend {
  color: #1B1D1F; }

select {
  height: inherit;
  padding: 6px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  height: 39px;
  line-height: 39px;
  padding: 12px; }

input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
textarea:focus {
  background: #fffef4; }

/* Buttons */
.form-submit {
  height: 48px; }

button,
.button,
.readon,
.button-border,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  -webkit-appearance: none;
  background: transparent;
  border: 1px solid;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 16px;
  font-weight: normal;
  height: auto;
  line-height: 46px;
  margin: 0 5px 2px 2px;
  padding: 0 22px;
  text-align: center;
  text-transform: none;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }

button:hover,
button:focus,
.button:hover,
.button:focus,
.readon:hover,
.readon:focus,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
button:active,
.readon:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active,
.button.invert {
  border: 1px solid #999;
  color: #c7ceda; }

.button-border {
  background: transparent !important;
  border: 2px solid #d27244;
  color: #d27244 !important; }

.button-border:active,
.button-border:focus,
.button-border:hover {
  background: #fff;
  border: 2px solid #000;
  color: black !important; }

.post-password-required input[type="submit"] {
  vertical-align: bottom; }

.button.full {
  background: #a8ce86;
  border-color: #a8ce86;
  color: #fff; }

.button.full:hover {
  background: #98b57e !important;
  border-color: #98b57e; }

/* Labels */
label {
  color: #414d61;
  font-size: 14px;
  font-weight: 400;
  padding: 0 6px 0 0; }

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
  color: #7d7b6d; }

:-moz-placeholder {
  color: #7d7b6d; }

::-moz-placeholder {
  color: #7d7b6d; }

:-ms-input-placeholder {
  color: #7d7b6d; }

#comments {
  border-top: 1px solid #e5e5e5;
  clear: both;
  margin: 90px 0 0;
  padding: 30px 20px 10px;
  position: relative; }

#comments p {
  margin: 1em 0 2em; }

#comments .no-password {
  margin-top: 0; }

.comment-post-author {
  background: #010101;
  border-radius: 2px;
  color: #fff;
  font-size: 11px;
  margin: 0 0 0 5px;
  padding: 2px 5px;
  position: relative;
  top: -1px; }

.comments-title,
.comment-list,
.comment-reply-title,
.must-log-in,
.comment-respond .comment-form,
.comment-respond iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.comments-title,
.comment-reply-title {
  line-height: 1.2;
  margin: 0;
  padding: 16px 0; }

.comment-list,
.comment-list .children {
  list-style-type: none;
  padding: 0; }

.comment-list .children {
  margin-left: 20px; }

.comment-list > li:after,
.comment-list .children > li:before {
  background-size: 4px 4px;
  content: "";
  display: block;
  height: 1px;
  width: 100%; }

.comment-list > li:last-child:after {
  display: none; }

.comment-body {
  font-size: 18px;
  margin: 24px 0 0;
  padding: 18px;
  position: relative; }

.comment-list > li:nth-child(even) > article {
  background: #f5f5f5; }

.comment-content p {
  line-height: 1.6;
  margin: 1em 0; }

.bypostauthor {
  line-height: inherit; }

.comment-author > img {
  display: block;
  float: left;
  margin-right: 10px;
  padding: 4px; }

.comment-author .avatar {
  display: block; }

.comment-author .fn {
  word-wrap: break-word; }

.comment-author .fn,
.comment-author .url,
.comment-reply-link,
.comment-reply-login,
.comment-list .edit-link {
  font-size: 11px;
  font-style: normal;
  font-weight: normal; }

.comment-reply-link {
  float: right; }

.says {
  display: none; }

.comment-list .edit-link {
  float: right;
  margin-left: 20px; }

.comment-author {
  position: absolute; }

.comment-content-wrapper {
  margin: 0 0 0 92px;
  padding: 10px; }

.comment-metadata {
  font-size: 14px;
  margin-bottom: 0; }

.comment-metadata > * {
  text-align: center; }

.comment-metadata > a {
  float: right; }

.comment-metadata > strong.fn {
  font-weight: 500;
  margin: 0 12px 0 0; }

.ping-meta {
  color: #a2a2a2;
  font-size: 13px;
  line-height: 2; }

.comment-awaiting-moderation:before {
  content: "\f071";
  font-family: FontAwesome;
  margin-right: 5px;
  position: relative;
  top: 1px; }

.comment-reply-link:before,
.comment-reply-login:before {
  content: "\f112";
  font-family: FontAwesome;
  margin-right: 3px; }

/* Comment form */
.comment-respond {
  padding: 30px 0 0; }

.comment .comment-respond {
  margin-bottom: 20px;
  padding: 20px 0; }

.comment-reply-title small a {
  color: #131310;
  display: inline-block;
  float: right;
  height: 22px;
  overflow: hidden;
  width: 26px; }

.comment-reply-title small a:hover {
  text-decoration: none; }

.comment-reply-title small a:before {
  content: "\f057";
  font-family: FontAwesome;
  font-size: 20px;
  margin-right: 10px;
  vertical-align: top; }

.comment-form .comment-notes {
  color: #414d61;
  font-size: 13px;
  margin: 0 0 32px; }

.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url {
  margin: 0;
  width: 100%; }

.comment-form label {
  display: block;
  clear: both;
  padding: 12px 0 10px; }

.comment-form .required {
  color: #ed331c; }

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
  width: 100%; }

.comment-form textarea {
  width: 100%; }

code {
  background: #c7ceda;
  padding: 5px 10px;
  font-family: Pragmata, Menlo, 'DejaVu LGC Sans Mono', 'DejaVu Sans Mono', Consolas, 'Everson Mono', 'Lucida Console', 'Andale Mono', 'Nimbus Mono L', 'Liberation Mono', FreeMono, 'Osaka Monospaced', Courier, 'New Courier', monospace; }

pre {
  background: #c7ceda;
  padding: 20px; }

.form-allowed-tags,
.form-allowed-tags code {
  color: #414d61;
  font-size: 12px; }

.form-allowed-tags code {
  display: block;
  font-size: 10px;
  margin: 3px 0; }

.comment-list .pingback,
.comment-list .trackback {
  padding-top: 24px; }

.comment-navigation {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  margin: 0 auto;
  max-width: 604px;
  padding: 20px 0 30px;
  width: 100%; }

.no-comments {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  margin: 0;
  padding: 40px 0; }

/*//////////////////////////////////////////////
* 5. Layout
*/
/*  Responsive layout  */
.main .work {
  display: block;
  width: 33.33333333333333%;
  height: auto;
  float: left;
  position: relative;
  overflow: hidden; }
  .main .work .media {
    width: 100%;
    vertical-align: middle; }
  .main .work .caption {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.widget-area {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  border-top: 1px solid #c7ceda;
  padding-top: 40px;
  display: table; }

.widget {
  height: 100%;
  display: inline-table;
  float: left;
  width: 25%;
  padding: 0 2% 2%;
  border-right: 1px solid #c7ceda; }
  .widget:first-child {
    border-left: 1px solid #c7ceda; }
  .widget h1 {
    border-bottom: 1px solid #c7ceda;
    padding-bottom: 10px !important;
    margin: 0 0 15px; }
  .widget ul li {
    padding-left: 10px;
    padding-bottom: 10px; }
    .widget ul li span {
      font-size: 100%; }
  .widget a {
    font-weight: 600;
    color: draken(#414d61, 20%); }
  .widget ul li:before {
    background: #c7ceda;
    content: "";
    font-size: 13px;
    height: 10px;
    width: 10px;
    left: -10px;
    float: left;
    position: relative;
    display: list-item;
    top: 5px; }

.widget-title {
  font-size: 125%;
  text-transform: uppercase; }

@media (max-width: 1100px) {
  header {
    display: block;
    background: #fff;
    width: 100%;
    min-height: 100px;
    padding: 0;
    position: relative; }
    header .logo {
      margin: 40px 0 0 30px;
      display: inline-block; }
    header .footer {
      display: none; }

  .main {
    width: 100%;
    position: relative;
    padding-left: 0; }
    .main .work {
      width: 50%; } }
@media (max-width: 550px) {
  .main .work {
    width: 100%; } }
.content_header {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 50%;
  margin-left: -46.36363636363637%; }

/*# sourceMappingURL=theme.css.map */
