.main-navigation {
	
	
	
	a {
		-webkit-transition: all 0s ease;
	    -moz-transition: all 0s ease;
	    -o-transition: all 0s ease;
	    /* transition: all .1s ease-out; */
	}
	
	a:hover {
	  color: $base;
	  text-decoration: none;
	}
	
	ul { //Top level menu
		
	    padding: 20px 0;
	    width: 200px;
	    border-top: 1px solid;
	    border-bottom: 1px solid;
	    margin: 5em 0;
		background: $base;
	  
		li {
		  height: 40px;
		  line-height: 40px;
		  padding-left: 15px;
		  list-style-type: none;
		
			&:hover {
			  background-color: $lighter;
			}
		
		}
		
		ul { // Children menu 
		  visibility: hidden;
		  position: absolute;
		  margin-top: -40px;
		  margin-left: 185px;
		  width: max-content;
		  width: 100%;
		  padding: 0;
		  
			ul { // GrandChildren menu
			  margin-top: -41px;
			  margin-left: 285px;
			  
			}
			
			li:after {
				
				padding: 0 .4em;
			}
		
			.page_item_has_children:hover:nth-child(1n+1):after,
			.menu-item-has-children:hover:nth-child(1n+1):after {
				
				border-top: 0;
				margin-top: 0;
			}
		  
		}
		
		.page_item_has_children:hover:nth-child(1n+1):after,
		.menu-item-has-children:hover:nth-child(1n+1):after {
			
			background: $base;
			padding: 0 .4em;
			border-top: 1px solid $fontclr;
			
			-webkit-transition: all .1s ease;
		    -moz-transition: all .1s ease;
		    -o-transition: all .1s ease;
		    transition: all .1s ease-out;
		}
		
		.page_item_has_children:hover:nth-child(2n+1):after,
		.menu-item-has-children:hover:nth-child(2n+1):after {
			
			background: $base;
			content: "\e178";
			display: hidden;
		}
		
		.page_item_has_children:nth-child(1n+1):after,
		.menu-item-has-children:nth-child(1n+1):after {
			font-family: 'Glyphicons Halflings';
	   		content: "\e178";
			float: right;
			height: 40px;
			animation: arrow .5s infinite ease;
			-webkit-animation: arrow .5s infinite ease;
			-moz-animation: arrow .5s infinite ease;
			-o-animation: arrow .5s infinite ease;
		}
	
	}
	
	li:hover > ul {
	  visibility: visible;
	}

}

// /////////////

/*  Header  */

@media (min-width: 1000px) {
	header {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 300px;
		min-height: 100%;
		padding: 0 0 0 50px;
		background: #ffffff;
		float: left;
		z-index: 9999;
	}
	header .logo {
		margin-top: 100px;
	}
	header .footer {
		position: absolute;
		bottom: 50px;
	}
	#menu_icon,
	.close_menu {
		display: none;
	}
}

#menu_icon,
.close_menu {
	float: right;
	margin-right: 40px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: $bgimg3 no-repeat;
}

#menu_icon {
	background-position: 0 0;
}

.close_menu {
	background-position: -41px 0!important;
}

//////////

.current_page_item > a,
.main-navigation a:hover,
.main-navigation a:active,
.main-navigation a:focus {
	border-left: solid 5px;
	padding-left: 3px;
}

.work_nav {
	display: block;
	width: 100%;
}

.work_nav .btn {
	float: right;
}

.work_nav ul li {
	display: block;
	float: left;
	margin: 0 0 1px 1px;
	position: relative;
}

.work_nav a {
	display: block;
	width: 40px;
	height: 40px;
	background: $bgimg4 no-repeat;
	background-position: 0 0;
}

.work_nav a.previous {
	background-position: 0 0;
}

.work_nav a.grid {
	background-position: -41px 0;
}

.work_nav a.next {
	background-position: -82px 0;
}

@media (max-width: 1100px) {
	#menu_icon,
	.close_menu,
	.show_menu {
		display: block;
	}
	header #menu_icon,
	header .close_menu {
		float: right;
		margin: 30px 30px 0 0;
		clear: both;
	}
	header nav ul {
		display: none;
		margin-top: 35px;
		position: relative;
	}
	header nav ul li a {
		display: block;
		width: 100%;
		padding: 30px 0;
		text-align: center;
		font-size: 14px;
		text-decoration: none;
		border-top: 1px solid #f7f5f5;
		background: #fff;
	}
	header nav ul li a:active {
		background: $lighter;
	}
}

//** Post pagination
.post-navigation {
	width: 100%;
	margin-bottom: 20px;
	position: relative;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.post-navigation a {
	position: relative;
	font-weight: 400;
}

.post-navigation span {
	font-size: 30px;
	display: inline;
	display: inline-block;
	display: -webkit-inline-box;
	display: -moz-inline-box;
}

.post-navigation .screen-reader-text {
	margin-top: 50px;
	font-size: 14px;
	color: $lighter;
	text-transform: uppercase;
	border-bottom: 1px solid $lighter;
}

.nav-previous,
.nav-next {
	position: relative;
	margin-top: 20px;
}

.nav-previous a:hover,
.nav-next a:hover {
	color: $lighter;
}

.nav-previous {
	float: left;
	margin-left: 50px !important;
}

.nav-next {
	float: right;
	margin-right: 50px !important;
}